.sorts_list {
  --row-height: 40px;

  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--Gray-300, #d0d5dd);
  overflow: hidden;
  background: var(--Gray-100, #f2f4f7);

  .header {
    border-bottom: 1px solid var(--Gray-300, #d0d5dd);
    display: flex;
    gap: 16px;
    padding: 8px 2px 8px 8px;
    color: var(--Primary-800, #0040c1);
    /* Text xs/Medium */
    font-family: "Roboto Condensed";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 133.333% */
    display: flex;
    align-items: center;
    align-self: stretch;
    height: var(--row-height);
  }
}
.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 0;
}
.row_header {
  height: var(--row-height);
  display: flex;
  gap: 16px;
  width: 100%;
  border-bottom: 1px solid var(--Gray-300, #d0d5dd);
  padding: 8px 2px 8px 8px;
  position: relative;
  color: var(--Gray-900, #101828);
  align-items: center;
  & .actions {
    margin-left: auto;
    margin-right: 12px;
    display: flex;
    gap: 8px;
    color: var(--Gray-500);
  }
}

.row_marked_as_deleted {
  height: var(--row-height);
  z-index: 12;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.9;
  background: var(--Red-50, #fef3f2);
  display: flex;
  align-items: center;
  padding-left: 24px;
  border-bottom: 1px solid var(--Gray-300, #d0d5dd);
  & span {
    color: var(--Red-600, #d92d20);
    /* Text sm/Medium */
    font-family: "Roboto Condensed";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
  }

  .actions {
    padding: 6px 0;
    height: 100%;
    .cancel_btn {
      height: 100%;
    }
  }
}

.group {
  .row_header {
    padding-left: 8px;
  }
}
.category {
  .row_header {
    padding-left: 20px;
  }
}
.sort {
  .row_header {
    padding-left: 8px;
  }
  .name {
    text-transform: uppercase;
  }
}
.toggle_btn {
  cursor: pointer;
}
.id {
  width: 48px;
}
.name,
.id {
  /* Text xs/Medium */
  font-family: "Roboto Condensed";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  height: 16px;
  position: relative;
}
.hidden {
  display: none;
}
.visible {
  display: block;
  width: 100%;
}

.arrow_space {
  width: 16px;
}

.pagination {
  align-self: flex-end;
}

.bin_icon:hover {
  color: var(--Red-500);
}
