.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 236px;
}
.actions {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
.btn {
  width: 100%;
}
.close_btn {
  align-self: flex-end;
  position: absolute;
  right: 0;
  top: 2px;
  cursor: pointer;
}
.title {
  position: relative;
}
