.menu_toggle_btn {
  cursor: pointer;
}
.title {
  color: var(--Primary-800, #0040c1);
  /* Text md/Medium */
  font-family: "Roboto Condensed";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
.user {
  margin-left: auto;
}
