@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

:root {
  --Primary-100: #d1e0ff;
  --Primary-200: #b2ccff;
  --Primary-600: #155eef;
  --Primary-700: #004eeb;
  --Primary-800: #0040c1;
  --Gray-100: #f2f4f7;
  --Gray-200: #eaecf0;
  --Gray-300: #d0d5dd;
  --Gray-400: #98a2b3;
  --Gray-500: #667085;
  --Gray-700: #344054;
  --Gray-900: #101828;

  --Base-White: #ffffff;
  --Red-100: #fee4e2;
  --Red-500: #f04438;
  --Red-600: #d92d20;
  --Green-500: #12b76a;
  --Green-600: #039855;
  --Green-700: #027a48;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Roboto+Condensed";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--Gray-100, #f2f4f7);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  border-bottom: 1px solid var(--Gray-300, #d0d5dd);
  background: var(--Base-White, #fff);
  /* Shadow */
  box-shadow: 0px 0px 16px 0px rgba(0, 20, 61, 0.08);
  height: 48px;
  display: flex;
  padding: 12px 24px;
  align-items: center;
  gap: 10px;
}

h1 {
  color: var(--Gray-700, #344054);
  /* Display sm/Medium */
  font-family: "Roboto Condensed";
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 38px; /* 118.75% */
}

h2 {
  color: var(--Gray-900, #101828);
  /* Display xs/Medium */
  font-family: "Roboto Condensed";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px; /* 150% */
}

.container {
  width: 1440px;
  margin: auto;
  padding: 16px 40px;
}

.clickable {
  cursor: pointer;
}

.action_icon {
  cursor: pointer;
  &:hover {
    color: var(--Primary-600, #155eef);
  }
}

svg:not(:root) {
  overflow: visible;
}
h2 {
  margin: 0;
}
p {
  margin: 0;
  color: var(--Gray-500, #667085);
  font-family: "Roboto Condensed";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
