@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;500&display=swap');

:root {
  --Primary-100: #D1E0FF;
  --Primary-200: #B2CCFF;
  --Primary-600: #155EEF;
  --Primary-800: #0040C1;
  --Gray-100: #F2F4F7;
  --Gray-200: #EAECF0;
  --Gray-300: #D0D5DD;
  --Gray-400: #98A2B3;
  --Gray-500: #667085;
  --Gray-700: #344054;
  --Gray-900: #101828;

  --Base-White: #FFFFFF;
  --Red-100: #FEE4E2;
  --Red-500: #F04438;
  --Red-600: #D92D20;
  --Green-500: #12B76A;
  --Green-600: #039855;
  --Green-700: #027A48;
}
*, *:before, *:after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Roboto+Condensed';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--Gray-100, #F2F4F7);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header{
  border-bottom: 1px solid var(--Gray-300, #D0D5DD);
  background: var(--Base-White, #FFF);
  /* Shadow */
  box-shadow: 0px 0px 16px 0px rgba(0, 20, 61, 0.08);
  height: 48px;
  display: flex;
  padding: 12px 24px;
  align-items: center;
  gap: 10px;
}

h1{
  color: var(--Gray-700, #344054);
  /* Display sm/Medium */
  font-family: "Roboto Condensed";
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 38px; /* 118.75% */
}

.container{
  width: 1440px;
  margin: auto;
  padding: 16px 40px;
}

.box{
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
  background: var(--Base-White, #FFF);
  border-radius: 6px;
}



.base_input{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  align-self: stretch;
  color: var(--Gray-900, #101828);
  /* Text md/Regular */
  font-family: "Roboto Condensed";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: 36px;
  border-radius: 6px;
  border: 1px solid var(--Gray-300);
  background: var(--Base-White);
  padding: 6px 12px;
}

.clickable{
  cursor: pointer;
}